{% extends "base.html" %}
{% block cuerpo %}
  <div class="contenedor">
    <nav class="navbar" role="navigation" aria-label="main navigation">
      <div class="navbar-brand">
      <a class="navbar-item" href="/" id="logoinit">
          <img src="../static/imgs/logo2.png" width="130" height="28">
      </a>
  
      <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
      </a>
      </div>
  
      <div id="navbarBasicExample" class="navbar-menu">
        <div class="navbar-start">
          <a class="navbar-item linkwhite" href="/">
              <i class="fas fa-home"></i>&nbspHome
          </a>
  
          <a class="navbar-item linkwhite" href="/products">
              <i class="fas fa-store"></i>&nbspTienda
          </a>
  
          <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link linkwhite">
              More
          </a>
  
          <div class="navbar-dropdown">
              <a class="navbar-item linkblack" href="/admin">
              Admin Dasboard
              </a>
              <a class="navbar-item linkblack">
              Contact
              </a>
          </div>
          </div>
        </div>
  
        <div class="navbar-item head">
          <span class="tag"><i class="fas fa-user"></i>&nbspAdmin</span>
          <button class="button is-light" id="exit" onclick="location.href= '/home'">Logout&nbsp <i class="fas fa-sign-out-alt"></i></button>
        </div>

      </div>
    </nav>
        
      <div class="panel">
        <h2 class="subtitle is-4">Dashboard Administrativo de VipShop Holdings</h2>
        <h2 class="title is-3">!Bienvenido!</h1>

        <section class="info-tiles">
          <div class="tile is-ancestor has-text-centered">
              <div class="tile is-parent">
                  <article class="tile is-child box">
                      <p class="title">19k</p>
                      <p class="subtitle"><i class="fas fa-users"></i> Users</p>
                  </article>
              </div>
              <div class="tile is-parent">
                  <article class="tile is-child box">
                      <p class="title">2145</p>
                      <p class="subtitle"><i class="fas fa-laptop"></i> Products</p>
                  </article>
              </div>
              <div class="tile is-parent">
                  <article class="tile is-child box">
                      <p class="title">3.4k</p>
                      <p class="subtitle"><i class="fas fa-comments"></i> Comments</p>
                  </article>
              </div>
          </div>
        </section>
        <br/>
        <section class="info-tiles">
          <div class="tile is-ancestor has-text-centered">
              <div class="tile is-parent adminopcion">
                  <article class="tile is-child box">
                      <p class="title is-3">Usuarios</p>
                    <img src="../static/imgs/users.png" alt="Usuarios" style="max-width: 85%;"> 
                      <p class="subtitle zoom"><a><i class="fas fa-user-plus"></i> Agregar</a></p>
                      <p class="subtitle zoom"><a><i class="fas fa-user-edit"></i> Actualizar</a></p>
                      <p class="subtitle zoom"><a><i class="fas fa-user-times"></i> Eliminar</a></p>
                  </article>
              </div>
              <div class="tile is-parent adminopcion">
                  <article class="tile is-child box">
                      <p class="title is-3">Productos</p>
                      <img src="../static/imgs/products.png" alt="Productos" style="max-width: 85%;">
                      <p class="subtitle zoom"><a><i class="fas fa-laptop" style="max-width: 35px;"></i><i class="fas fa-plus-circle" style="max-width: 10px;"></i> Agregar</a></p>
                      <p class="subtitle zoom"><a><i class="fas fa-laptop" style="max-width: 35px;"></i><i class="fas fa-sync-alt" style="max-width: 10px;"></i> Actualizar</a></p>
                      <p class="subtitle zoom"><a><i class="fas fa-laptop" style="max-width: 35px;"></i><i class="fas fa-minus-circle" style="max-width: 10px;"></i> Eliminar</a></p>
                  </article>
              </div>
              <div class="tile is-parent adminopcion">
                  <article class="tile is-child box">
                    <p class="title is-3">Aplicación</p>
                    <img src="../static/imgs/config.png" alt="Productos" style="max-width: 85%;">
                    <p class="subtitle zoom"><a><i class="fas fa-user-check"></i> Accesos</a></p>
                    <p class="subtitle zoom"><a href=""><i class="fas fa-chart-bar"></i> Reportes</a></p>
                  </article>
              </div>
          </div>
        </section>
      </div>
  </div>
<script src="../static/js/index.js"></script> 
{% endblock %}
