{% extends "base.html" %}
{% block cuerpo %}

<nav class="navbar navprod" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
    <a class="navbar-item" href="/" id="logoinit">
        <img src="../static/imgs/logo2.png" width="130" height="28">
    </a>

    <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
    </a>
    </div>

    <div id="navbarBasicExample" class="navbar-menu">
    <div class="navbar-start">
        <a class="navbar-item linkwhite" href="/">
            <i class="fas fa-home"></i>&nbspHome
        </a>

        <a class="navbar-item linkwhite" href="/products">
            <i class="fas fa-store"></i>&nbspTienda
        </a>

        <div class="navbar-item has-dropdown is-hoverable">
        <a class="navbar-link linkwhite">
            More
        </a>

        <div class="navbar-dropdown">
            <a class="navbar-item linkblack" href="/admin">
            Admin Dashboard
            </a>
            <a class="navbar-item linkblack" href="/wishlist">
            Gestionar comentarios
            </a>
        </div>
        </div>
    </div>

    <div class="navbar-item head">
      <span class="tag"><i class="fas fa-user"></i>&nbspUsuario</span>
      <button class="button is-light" id="exit" onclick="location.href= '/home'">Logout&nbsp <i class="fas fa-sign-out-alt"></i></button>
    </div>


    </div>
  </nav>

    <section class="section">
        <div class="container">
            <h1 class="title has-text-centered">
                Añadir Producto
            </h1>
            <form action="" class="">
                <div class="field">
                    <label for="" class="label">Codigo</label>
                    <div>
                        <input class="input" type="text" placeholder="Codigo...">
                    </div>
                </div>

                <div>
                    <label for="" class="label">Nombre</label>
                    <div>
                        <input class="input" type="text" placeholder="Nombre...">
                    </div>
                </div>

                <div>
                    <label for="" class="label">Descripcion</label>
                    <div>
                        <textarea class="textarea" placeholder="Descripcion..."></textarea>

                    </div>
                </div>

                <div>
                    <label for="" class="label">Precio</label>
                    <div>
                        <input class="input" type="text" placeholder="Precio...">
                    </div>
                </div>

                <div>
                    <label for="" class="label">Cantidad</label>
                    <div>
                        <input class="input" type="number" placeholder="Cantidad...">
                    </div>
                </div>
                <br>

                <div class="file is-success">
                    <label class="file-label">
                        <input class="file-input" type="file">
                        <span class="file-cta">
                            <span class="file-label">
                                Subir Imagen…
                            </span>
                        </span>
                    </label>
                </div>
                <br>

                <div class="field is-grouped">
                    <div class="control">
                        <button class="button is-success">Enviar</button>
                    </div>
                    <div class="control">
                        <button class="button is-link is-light">Cancelar</button>
                    </div>
                </div>

            </form>
        </div>
    </section>
    <script src="../static/js/index.js"></script> 
{% endblock %}